# Project 1

**Importing libraries**

In [8]:
import pandas as pd

**Reading the CSV file as pandas DataFrame**

In [9]:
project1data = pd.read_csv("project1.csv")

**Displaying the data**

In [10]:
project1data

,Unnamed: 0,Unnamed: 1,Los Angeles,Phoenix,San Diego,San Francisco,Seattle
0,Alaska,on time,497.0,221.0,212.0,503.0,1841.0
1,NaN,delayed,62.0,12.0,20.0,102.0,305.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AM West,on time,694.0,4840.0,383.0,320.0,201.0
4,NaN,delayed,117.0,415.0,65.0,129.0,61.0