# Project 3

In [1]:
import pandas as pd
DataFrame = pd.read_csv("DataFrameCustomer.csv")

DataFrame

   Unnamed: 0 LastName FirstName                     Name           Title
0           0  Almeida   Roberto  Right Next Door to Hell     Sex Machine
1           1  Almeida   Roberto           In The Evening     Maquinarama
2           2  Almeida   Roberto           In The Evening  O Samba Pocone
3           3  Almeida   Roberto         Fool In The Rain     Maquinarama
4           4  Almeida   Roberto         Fool In The Rain  O Samba Pocone