# Week 7 Assignment

In [4]:
import pandas as pd

In [5]:
movies = pd.read_csv("Assignment7.csv")

In [6]:
movies

,Unnamed: 0,Frozen 2,The Lion King,Avengers:Endgame,Hustlers,Fast & Furious Presents: Hobbs & Shaw,Toy Story 4
0,Pete,1.0,4.0,NaN,5.0,3.0,5
1,David,NaN,3.0,2.0,3.0,5.0,2
2,Kim,5.0,NaN,5.0,4.0,2.0,4
3,Emily,3.0,2.0,1.0,NaN,4.0,3
4,Adam,4.0,1.0,3.0,5.0,NaN,4