## Week 8 Assignment

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("auto-mpg.data")

In [5]:
data

    18.0   8   307.0      130.0      3504.      12.0   70  1\t"chevrolet chevelle malibu"
0    15.0   8   350.0      165.0      3693.      11...
1    18.0   8   318.0      150.0      3436.      11...
2    16.0   8   304.0      150.0      3433.      12...
3    17.0   8   302.0      140.0      3449.      10...
4    15.0   8   429.0      198.0      4341.      10...
..                                                 ...
392  27.0   4   140.0      86.00      2790.      15...
393  44.0   4   97.00      52.00      2130.      24...
394  32.0   4   135.0      84.00      2295.      11...
395  28.0   4   120.0      79.00      2625.      18...
396  31.0   4   119.0      82.00      2720.      19...

[397 rows x 1 columns]

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import numpy as np

In [7]:
data.rename(columns={'1':'USA'}, inplace=True)
data.rename(columns={'2':'Asia'}, inplace=True)
data.rename(columns={'3':'Europe'}, inplace=True)

NameError: name 'data' is not defined

In [4]:
x = np.linspace(1)
y = np.sin(2)

plt.plot(x, y, 'o', color='black');

TypeError: linspace() missing 1 required positional argument: 'stop'